
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
  border-radius: 50px;
}

/* navbar */

.navbar {
  background-color: #131313;
  padding: 20px 10px !important;
  font-family: 'Quicksand', sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-brand {
  font-weight: 500;
}

#navbarNav > ul > li:nth-child(n) > a {
  color: white;
  font-weight: 200;
}


#navbarNav > ul > li:nth-child(n) > a:hover {
  color: #58427c;
}

/* banner */

.content-banner {
  color: #ffffff;
  background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
  min-height: 350px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 125px;
}

.content-banner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(57, 49, 49, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 0px 0px 12px;
}

#waves {
  position: relative;
  z-index: 2;
}

/* media query */

@media only screen and (max-width: 666px) {
  .content-banner {
    min-height: 250px;
  }
  .first-title {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 999px) {
  .content-banner .first-title {
    margin-top: 100px;
  }
}
